* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.row-limit-size {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header figure {
    height: 80 px;
}

.main-menu>ul>li {
    position: relative;
}

body>header>nav>ul {
    display: flex;
}

.main-menu>ul>li>a {
    display: block;
    display: flex;
    height: 80px;
    line-height: 80 px;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s ease;
    font-size: 1rem;
}
.main-menu>ul>li>a.catalogue{
    color: red;
}
.main-menu>ul>li>a.contact {
        width: 70px;
        background-color:#d01242;
        text-decoration: none;
        border-radius: 50%;
        border: 2px solid #ca2447;
        color:#FFF;
        margin-bottom: 30px;
        display: block;
        margin: 0 auto;
        padding: 0 8px 0;
        line-height: 50px;
}

.banniere {
    padding: 50px 0;
    background-image: url(../img/bg-header.webp);
    height: 500px;
}

h1 {
    text-transform: uppercase;
    color: #E3C6E6;
    letter-spacing: 1px;
    text-align: center;
    font-size: 45px;
}

h2 {
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
    text-align: center;
    font-size: 95px;
}

h3 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-banniere {
    text-align: center;
    padding-bottom: 60px;
    line-height: 1.25;
}

.catégorie h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 40px;
    color: black;
}

.catégorie p {
    text-align: center;
    font-size: 15px;
    color: #666;
    line-height: 1.1;
    margin-top: 15px;
    margin-bottom: 80px;
}


.cadres {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    height: 60%;
    width:100%;
padding-right: 15PX;
padding-left: 15PX;
    flex-wrap: wrap;
margin-right: auto;
margin-left: auto;

}

.cadre {
    border: 1px solid #fff;
    padding: 10px;
    width: calc(30% - 20px);
    align-items: center;
}

.image-haut {
    width: 100%;
    display: block;
}

.contenu-picto-texte {
    background-color: #ededed;
    display: flex;
    align-items: center;

}

.picto {
    min-width: 60px;
    height: 60px;
    margin: 21px 15px 0;
    box-sizing: border-box;

}

.contenu-texte h5 {
    padding: 20px 0;
}

h5 {
    margin-bottom: 5px;
    font-size: 1.5em;
    text-align: left;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;

}

.contenu {
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: justify;
    display: flex;
    color: #555;
    font-size: 20px;
    justify-content: center;
}
